<button {{on "click" this.onAuthenticate}} class="btn-default btn btn-icon-text ember-view" type="button" style="float: right;" aria-label="Authenticate Wallet">
  {{#if this._isWalletAuthenticated }}
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="159.000000pt" height="159.000000pt" viewBox="0 0 159.000000 159.000000"
    preserveAspectRatio="xMidYMid meet">

      <g transform="translate(0.000000,159.000000) scale(0.100000,-0.100000)"
    fill="#000000" stroke="none">
        <path d="M778 1533 c12 -2 30 -2 40 0 9 3 -1 5 -23 4 -22 0 -30 -2 -17 -4z"/>
        <path d="M698 1523 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
        <path d="M878 1523 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
        <path d="M304 1348 l-19 -23 23 19 c21 18 27 26 19 26 -2 0 -12 -10 -23 -22z"/>
        <path d="M1275 1350 c10 -11 20 -20 23 -20 3 0 -3 9 -13 20 -10 11 -20 20 -23
    20 -3 0 3 -9 13 -20z"/>
        <path d="M234 1278 l-19 -23 23 19 c21 18 27 26 19 26 -2 0 -12 -10 -23 -22z"/>
        <path d="M1345 1280 c10 -11 20 -20 23 -20 3 0 -3 9 -13 20 -10 11 -20 20 -23
    20 -3 0 3 -9 13 -20z"/>
        <path d="M1084 1198 l-19 -23 23 19 c21 18 27 26 19 26 -2 0 -12 -10 -23 -22z"/>
        <path d="M1150 885 c-41 -41 -72 -75 -69 -75 2 0 38 34 79 75 41 41 72 75 69
    75 -2 0 -38 -34 -79 -75z"/>
        <path d="M770 875 c-41 -41 -72 -75 -69 -75 2 0 38 34 79 75 41 41 72 75 69
    75 -2 0 -38 -34 -79 -75z"/>
        <path d="M61 884 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
        <path d="M1521 884 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
        <path d="M495 840 c10 -11 20 -20 23 -20 3 0 -3 9 -13 20 -10 11 -20 20 -23
    20 -3 0 3 -9 13 -20z"/>
        <path d="M53 795 c0 -22 2 -30 4 -17 2 12 2 30 0 40 -3 9 -5 -1 -4 -23z"/>
        <path d="M1532 790 c0 -19 2 -27 5 -17 2 9 2 25 0 35 -3 9 -5 1 -5 -18z"/>
        <path d="M530 807 c0 -2 15 -16 33 -33 l32 -29 -29 33 c-28 30 -36 37 -36 29z"/>
        <path d="M61 704 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
        <path d="M1521 704 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
        <path d="M834 558 l-19 -23 23 19 c21 18 27 26 19 26 -2 0 -12 -10 -23 -22z"/>
        <path d="M490 465 c47 -47 87 -85 90 -85 2 0 -33 38 -80 85 -47 47 -87 85 -90
    85 -2 0 33 -38 80 -85z"/>
        <path d="M784 508 l-19 -23 23 19 c21 18 27 26 19 26 -2 0 -12 -10 -23 -22z"/>
        <path d="M235 310 c10 -11 20 -20 23 -20 3 0 -3 9 -13 20 -10 11 -20 20 -23
    20 -3 0 3 -9 13 -20z"/>
        <path d="M1344 308 l-19 -23 23 19 c12 11 22 21 22 23 0 8 -8 2 -26 -19z"/>
        <path d="M305 240 c10 -11 20 -20 23 -20 3 0 -3 9 -13 20 -10 11 -20 20 -23
    20 -3 0 3 -9 13 -20z"/>
        <path d="M1274 238 l-19 -23 23 19 c12 11 22 21 22 23 0 8 -8 2 -26 -19z"/>
        <path d="M698 63 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
        <path d="M878 63 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
        <path d="M773 53 c9 -2 25 -2 35 0 9 3 1 5 -18 5 -19 0 -27 -2 -17 -5z"/>
      </g>
    </svg>

  {{/if}}
  <svg class="fa d-icon d-icon-plus svg-icon svg-string" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="0" fill="currentColor" stroke="currentColor"><g><path fill="none" d="M0 0h24v24H0z"></path><path d="M2 9h19a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V9zm1-6h15v4H2V4a1 1 0 0 1 1-1zm12 11v2h3v-2h-3z"></path></g></svg>
  <span class="d-button-label">Authenticate Wallet</span>
</button>
